<nav class="bg-[#7500c0] p-4  text-white">
    <div class="flex justify-between items-center">
          <button type="button" class="user-btn dropdown-toggle" data-toggle="dropdown">
                <img src="/Assets/Image/logo-sm.png" class="logo"/>
            </button>
        <div class="dropdown usertoright">
          
            <div class="">
                <div class="user-info">
                    <img src="/Assets/Image/user-white.png" alt="user" class="user-logo" />
                    <div class="user-info-data flex">
                        <span class="user-info-data-name">@EID</span>
                        <span class="user-info-data-role">@role</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

 <main class="p-4 w-full">
    <router-outlet></router-outlet>
  </main>
<footer>-----------------------</footer>